.post_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
}

.top_content {
    line-height: 30px;
}

.ranking{
    font-size: 42px;
    font-weight: 800;
    color: #98a2b3;
    justify-content: start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 64px;
}

.ranking_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
}

.author {
    font-size: 13px;
    font-weight: normal;
    color: #2d3748;
}

.post_content {
    color: #2d3748;
    line-height: 20px;
    font-size: 14px; 
}

.display_content {
    padding: 12px;
    background: linear-gradient(to bottom, #e5e6ed 42%, #f1f2f4 81%, #ffffff 97%);
}

.heading_title {
    font-size: 18px;
    font-weight: 700;
}

.expand_title {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #1570ef;
}

.quick_feed_container{
    border: 1px dotted #1570ef  ;
    border-bottom-left-radius: 30px;
    border-top: 0px;
    border-right: 0px;
}
.community_container{
    border-radius: 8px;
    border: 1px solid #e5e6ed;
}
.computex_item::after{
    content: '';
    display: block;
    width: 64px;
    height: 3px;
    margin: 8px auto 0px;
    border-radius: 15px;
    background-color: #ffffff;
}
.computex_item{
    text-align: center;
}
.thread_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    color: #ffffff;
}

.column_item{
    font-size: 16px;
    font-weight: 400;
    height: 90px;
    padding:12px 0px 12px 0px ;
    border-bottom: 1px solid #e5e6ed;
}
.top_item{
    font-weight: 700;
}